PORT = 3000
PRODUCTION = 1
FETCH_ONLINE = 0 
SEND_ONLINE = 0
APIKEY=
CLIENT_NAME=KibuyeMatt
DELAY_SPEED = 2000; # Delay speed in milliseconds ie. 2000 = 2 seconds
PAYMENT_RESULT_CODE =7755
PAYMENT_TABLE_NAME = [dbo].[MpesaTxn]


#SQL SERVER
DB_SERVER=MULTIMPESA\SQL2012
DB_DATABASE=EZPOS
DB_USERNAME=sa
DB_PASSWORD=A123456a
DB_PORT=1433

#MPESA
PASSKEY=
HO_SHORTCODE=
BusinessShortCode=
PARTYB=
ONLINE_URL=https://multigateway.co.ke/api
LIVE_TOKEN_URL=https://api.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=


TOKEN_URL=https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
STK_URL=https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest
URL=https://otonglo.multiapp.co.ke/multitech/api

